
node_modules

*~

public/bower_components

out

# configuration file, see: https://github.com/dwyl/env2
.env

nohup.out

src/config_mqtt.js
public/js-app/config_app.js

public/js/**/*.js
public/js/**/*.map

